.header {
  padding: 10px;
  display: flex;
  align-items: center;
  background: #222F3F;
}

.header .logo {
  color: white;
}

.header .name {
  color: white;
  font-size: 30px;
  margin-right: 20px;
  font-weight: bold;
}

aside {
  position: fixed;
  overflow-y: auto;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 230px;
  padding: 20px;
  border-right: 1px solid #EEE;
  background: #FFFFFF;
}